* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    margin: 20px 0; 
}

p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 40px 10px 10px;
    padding: 0; 
}


.row {
    width: 100%;
    position: relative;
    padding: 10px;
}
.sec1 {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 120px;
    padding: 4px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(218, 85, 85);
    border: 1px solid #333333;
}

.sec2 {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 120px;
    padding: 4px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(218, 85, 194);
    border: 1px solid #333333;
}
.sec3 {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 120px;
    padding: 4px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(36, 61, 222);
    border: 1px solid #333333;
}

@media only screen and (min-width: 992px) {

.col-lg {
    position: relative;
    width: 30%; 
    float: left;
    margin: 1.6%;
    padding: 0;
    background-color: #efefef;
    border: 1px solid #333333;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.col-md-1 {
    position: relative;
    width: 98%; 
    float: left;
    margin: 1%;
    padding: 10px;
    background-color: #efefef;
    border: 1px solid #333333;
}
.col-md-2 {
    position: relative;
    width: 48%; 
    float: left;
    margin: 1%;
    padding: 10px;
    background-color: #efefef;
    border: 1px solid #333333;
}   
}

@media only screen and (max-width: 767px) {
.col-sm-1 {
    position: relative;
    width: 80%; 
    float: left;
    margin: 10px 10%;
    padding: 10px;
    background-color: #efefef;
    border: 1px solid #333333;
}   
}