body {
    font-size: 16px;
    color: #333333;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-weight: 900;
    font-size: 3em;
  }
  h2 {
    font-weight: 700;
  }
  h3 {
    font-weight: 700;
  }
  .selection {
    background-color: #bfbfbf;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #bfbfbf;
    border-radius: 0;
    border: 0;
  }
  
  #logo-img {
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
  }
  
  .navbar-brand {
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-brand h1 {
    float: left;
    padding: 15px 15px;
    font-size: 3em;
    font-weight: 900; 
    line-height: .75;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { /* Star-K */
    vertical-align: middle;
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  }
  #nav-list {
    margin-top: 10px;
    background-color: white;
  }

  .navbar-nav {
    margin: 7.5px 0 20px;
    text-align: center;
  }
  .navbar-nav li {
    margin: 15px 0;
    text-align: center;
    border-bottom: 1px solid black;
  }
  
