body {
    font-size: 16px;
    color: #333333;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-weight: 900;
    font-size: 3em;
  }
  h2 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 700;
  }
  p {
    margin-bottom: 20px;
  }
  .selection.chicken {
    background-color: #bfbfbf;
  }
  .selection.beef {
    background-color: #757373;
    color: white;
  }
  .selection.sushi {
    background-color: #e8e3e3;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #bfbfbf;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-brand h1 {
    float: left;
    padding: 15px 15px;
    font-size: 3em;
    font-weight: 900; 
    line-height: .75;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p { /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { /* Star-K */
    vertical-align: middle;
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  }
  #nav-list {
    margin: 0;
    background-color: rgb(205, 210, 212);
  }

  .navbar-nav {
    margin: 7.5px 0 20px;
    text-align: center;
  }
  .navbar-nav li {
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid red;
    border-radius: 4px;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }

  
  
